<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File upload</title>
  </head>
  <body>
    <div class="container">
      <h1>File upload</h1>
      <%= typeof msg !='undefined'?msg:'' %>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
          <div>
            <span>File</span>
            <input name="inputName" type="file" />
          </div>
        </div>
        <button type="submit">Upload</button>
      </form>
    </div>
  </body>
</html>
